*{
    padding: 0;
    margin: 0;
}

header{
    background-color: lightsteelblue;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1rem;
}

#app{
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    gap: 8px;
}

article{
    border: solid 2px grey;
    border-radius: 12px;
    background-color: grey;
}

article div{
    height: 10rem;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;

}

main{
    background-color: lightsteelblue;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between 3rem;
    align-items: center;
    background-color: black;
    padding-top: 2rem;
    padding-bottom: 70%;
    position: fixed;
}

aside button {
    width: 8rem;
    height: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    background-color: grey;
}

footer button{
    align-self: center;
}

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal article{
    height: 33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
}

#page{
    display: grid;
    grid-template-columns: 8rem auto auto;
    grid-template-areas: 
    "aside header header header"
    "aside main main main"
    "aside main main main";
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form div{
    height: 8rem;
    background-size: contain;
    background-position: center center;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    margin-bottom: .25rem;
}

